<custom-input [label]="label"
                [id]="name"
                [name]="name"
                type="password"
                required="true">
  @if (control?.touched && control?.hasError('required')) {
    <p-message severity="error" size="small" variant="simple">{{ label }} is required.</p-message>
  }
  @if (control?.touched && control?.hasError('minlength') || control?.touched && control?.hasError('pattern')) {
    <p-message severity="error" size="small" variant="simple">Please enter a valid password.</p-message>
  }
</custom-input>
