# VSCode
.vscode/

# .NET Core
bin/
obj/
*.db
*.db-shm
*.db-wal
.vs

# Angular
client/node_modules/
client/build/
client/.env

# Secrets & Logs
.env
logs/
secrets.json

# AWS
aws-exports.json
terraform.tfstate

# Test
**/TestResults/
**/coverage/

# docfx
**/_site/
docs/api/
