<main class="auth-main shadow-2">
  <div class="auth-card">
    <h2 class="auth-title">Sign Up</h2>

    <!-- Username -->
    <div class="form-group">
      <p-floatlabel variant="on">
        <input [(ngModel)]="signUpRequest.username" pInputText id="username" autocomplete="off" type="text" />
        <label for="username">Username</label>
      </p-floatlabel>
    </div>

    <!-- Username -->
    <div class="form-group">
      <p-floatlabel variant="on">
        <input [(ngModel)]="signUpRequest.email" pInputText id="email" autocomplete="off" type="email" />
        <label for="email">Email</label>
      </p-floatlabel>
    </div>

    <!-- Password -->
    <div class="form-group">
      <p-floatlabel variant="on">
        <input [(ngModel)]="signUpRequest.password" pInputText id="password" autocomplete="off" type="password" />
        <label for="password">Password</label>
      </p-floatlabel>
    </div>

    <!-- Sign In Button -->
    <div class="form-group">
      <p-button label="Submit" (click)="signUp()"></p-button>
      <ng-container *ngIf="loading">
        <span class="pi pi-spin pi-spinner mr-2"></span>
      </ng-container>
    </div>
  </div>
</main>
