:host {
  display: block;
  width: 100%;
}

.custom-dropdown {
  height: 4rem;
  padding: 0 0 1.5rem 0;
  align-items: center;
  width: 100%;
}

  .custom-dropdown p-floatlabel {
    display: block;
    height: 100%;
  }

    .custom-dropdown p-floatlabel > .p-float-label {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

  .custom-dropdown p-autocomplete {
    height: 100%;
    width: 100%;
    border-radius: 5%;
  }

  /* Target the internal input field */
  .custom-dropdown ::ng-deep .p-autocomplete input {
    height: 100%;
    width: 100%;
    border-radius: 5%;
    pointer-events: none;
  }
