


html {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.app-body {
  height: 100%;
  width: 100%;
  
}
.app-header {
  top: 0;
  width: 100%;
  height: 50px;
  align-items: center;
  background-color: #333;
  color: white;
}

.logo img {
  height: 40px;
}

.auth-options button {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}

  .auth-options button:hover {
    text-decoration: underline;
  }

.app-main {
  padding: 20px;
  min-height: calc(100vh - 120px); /* header + footer height */
}

.app-footer {
  bottom: 0;
  text-align: center;
  padding: 15px 0;
  background-color: #f1f1f1;
  color: #555;
  font-size: 14px;
}
