:host {
  display: block;
  width: 100%;
}

.custom-textarea {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: stretch;
}

  .custom-textarea .p-floatlabel {
    width: 100%;
    height: 100%;
  }

  .custom-textarea textarea {
    width: 100%;
    resize: vertical;
    box-sizing: border-box;
    background-color: var(--surface-card);
    border-radius: 6px;
    padding-block: var(--p-inputtext-padding-x);
    padding-inline: var(--p-inputtext-padding-x);
    font-size: 1rem;
    font-family: inherit;
    font-feature-settings: inherit;
  }
