<header class="app-header shadow-2">
  <div class="header-logo">
    <a routerLink="/home">
        <img src="assets/logo.png" alt="Logo" />
        <span>Cocktails App</span>
    </a>
  </div>
  <div class="header-auth__options">
    <!--Dark mode toggler-->
    <p-button *ngIf="layoutService.isDarkMode()"
              (click)="toggleDarkMode()"
              icon="pi pi-moon"
              [rounded]="true"
              [text]="true"
              severity="secondary">
    </p-button>
    <p-button *ngIf="!layoutService.isDarkMode()"
              (click)="toggleDarkMode()"
              icon="pi pi-sun"
              [rounded]="true"
              [text]="true"
              severity="secondary">
    </p-button>

    <!--SignIn-->
    <p-button *ngIf="!(isAuthenticated$ | async)"
              routerLink="/auth/signin"
              label="Sign in"
              variant="text"
              severity="secondary">
    </p-button>
    <!--SignUp-->
    <p-button *ngIf="!(isAuthenticated$ | async)"
              routerLink="/auth/signup"
              label="Sign up"
              [raised]="true"
              variant="outlined"
              severity="secondary">
    </p-button>

    <!--Profile (only if authicated)-->
    <p-button *ngIf="(isAuthenticated$ | async)"
              (onClick)="menu.toggle($event)"
              icon="pi pi-user"
              [rounded]="true"
              [text]="true"
              severity="primary">
    </p-button>

    <p-menu #menu [model]="menuItems" [popup]="true" appendTo="body" styleClass="user-menu-overlay"></p-menu>
  </div>
</header>
