<header class="app-header">
  <div class="logo">
    <a routerLink="/home">
      <img src="assets/logo.png" alt="Logo" />
    </a>
  </div>
  <div class="auth-options">
    <i class="pi pi-user" style="font-size: 2.5rem"></i>
    <p-button icon="pi pi-user" class="p-button-primary" [rounded]="true" severity="info" />
    <!--<p-button icon="pi pi-user"
            class="auth-btn"
            severity="primary"
            [routerLink]="'/auth/signin'">
  </p-button>-->

    <button *ngIf="!(isAuthenticated$ | async)" routerLink="/auth/signup">Sign Up</button>
    <button *ngIf="!(isAuthenticated$ | async)" routerLink="/auth/signin">Sign In</button>
    <button *ngIf="(isAuthenticated$ | async)" (click)="signOut()">Sign Out</button>
  </div>
</header>
