

@media (prefers-color-scheme: dark) {
  :root {
    --surface-ground: var(--p-surface-950);
    --surface-card: var(--p-surface-800);
    --code-background: var(--p-surface-800);
    --code-color: var(--p-surface-800);
  }
 }
