:root {
  --surface-color: var(--p-surface-50);
  --surface-ground: var(--p-surface-50);
  --surface-card: var(--p-surface-100);
  --code-background: var(--p-surface-100);
  --code-color: var(--p-surface-100);
  --text-color: var(--p-text-color);
}
