.ingredients-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  background-color: var(--surface-card);
  padding: 0.5rem;
  border-radius: 2.5%;
}


.ingredients-table {
  border: 1px dashed;
  border-radius: 2.5%;
  margin: 1rem;
  width: 20rem;
  height: 40rem;
}


.create-ingredient__container {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    width:100%;
}
  .create-ingredient__container:hover {
    cursor: pointer;
  }
