<main class="home-main">
  <ng-container *ngIf="(clubs$ | async) as clubs">
    <h2 class="home-title">
      Welcome to Cocktails App
      <img src="assets/logo.png"
           alt="Crying face"
           style="height: 3rem;
     vertical-align: middle;">
    </h2>

    <!-- Hero / Not in a club -->
    <app-empty-state [clubs]="clubs"></app-empty-state>

    <!-- Main Section -->
    <div *ngIf="clubs.length >= 0" class="home">

      <!-- Search bar -->
      <search-bar placeholder="Search public clubs or cocktails…"/>

      <!-- Clubs Cards -->
      <app-clubs-cards [clubs]="clubs"></app-clubs-cards>

    </div>
  </ng-container>
</main>
